body {
	color: #040E1C;

}

/* MAIN LAYOUT ========================================================== */

h1 {
	
	padding-bottom: 50px;
}

.box {
	max-height: 300px;
	overflow-y:scroll;
}

ul {
	margin-top: 20px;
	padding-left: 0px;
}

.save {
	margin-top: 20px;
}

.modal-body .input-group {
	width: 300px;
}

/* BUTTONS =================================================================== */


.done {
	background-color: #B9CBE3;
}

.buttons {
	background-color: #6B819E;
	color: white;
}

.button-bar {
	width: 50px;
	margin-top: 50px;
}

#saveModal {
	margin-top: 20px;
}

